# Node.js
node_modules/
.env
*.log
npm-debug.log*

# System files
.DS_Store
.vscode/
*.swp

# Build
dist/
*.tgz

# Docker
frontend/.dockerignore
frontend/Dockerfile

# GitHub Actions
.github/

# Kubernetes files (optional, if generated automatically)
*.yaml

